/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --Titulo: 'Tilt Prism', cursive;
    --paragrafos: 'Arimo', sans-serif;
    --textoEscuro: rgba(31, 43, 2, 0.418);
}
